html {
    font-size: 20px;
    font-family: 'Big Shoulders Display', cursive;
    background-color: black;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: white;

}

p, li, a {
    font-size: 30px;
    line-height: 2;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}


.footerbody {
    width: 100%;
    height: 100%;
    text-align: center;
    
}

#link {
    width: 100%;
    height: 100%;
}

.gameimage {
    width: 70vw;

}





.videobody {
    position: relative;
    width: 95%;
    height: 0;
    padding-bottom: 55%;
}

.iframeVideo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.topnav {
    overflow: hidden;
    background-color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.topnav a {
    float: left;
    color: gray;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 100px;
    background-color: white;
    text-align: center;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4caf50;
    color: white
}